@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: spin 0.8s linear infinite;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  background-image: url('../assets/face_rollover.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 161px;
  height: 209px;
  z-index: 50;
}
.hero:hover,
.hero.active {
  background-position: bottom center;
}
@media screen and (max-width: 600px) {
  .hero {
    width: 80.5px;
    height: 104.5px;
  }
}
