.main-nav-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  z-index: 500;
}
.main-nav {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 80px;
  padding-right: 50px;
}
.main-nav-link {
  color: #fff;
  font-family: 'bebasregular';
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  transition: color 0.2s;
}
.no-touchevents .main-nav-link:hover,
.main-nav-link.active {
  color: #ffef00;
}
.chat-toggler {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.chat-toggler .chat-toggler-opened {
  display: none;
}
.chat-open .chat-toggler .chat-toggler-opened {
  display: block;
}
.chat-open .chat-toggler .chat-toggler-closed {
  display: none;
}
.main-nav-mobile-toggler {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 36px;
  text-decoration: none;
  z-index: 999;
}
.main-nav-mobile-toggler:before {
  content: "m";
}
.menu-open .main-nav-mobile-toggler:before {
  content: "c";
}
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .main-nav {
    margin: 0 40px;
  }
}
@media screen and (max-width: 600px) {
  .main-nav-mobile-toggler {
    display: block;
  }
  .main-nav-outer {
    bottom: 0;
    height: auto;
    background-color: rgba(170, 25, 165, 0.9);
    transform: translateX(-100%);
    transition: all 0.2s ease-out;
  }
  .menu-open .main-nav-outer {
    transform: translateX(0);
  }
  .main-nav {
    margin: 0 20px;
    line-height: 26px;
    padding-top: 10px;
  }
  .main-nav-link {
    display: block;
    margin: 20px 0;
  }
  .chat-toggler {
    display: none;
  }
}
