.main-nav-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #aa19a5;
  height: 80px;
  z-index: 9999;
  border-bottom: 4px solid #fff;
}
.main-nav {
  max-width: 1280px;
  margin: 0 auto;
  line-height: 80px;
  padding-right: 50px;
}
.main-nav-link {
  color: #fff;
  font-family: 'bebasregular';
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}
.main-nav-link:hover,
.main-nav-link.active {
  text-decoration: underline;
}
.chat-toggler {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.chat-toggler .chat-toggler-opened {
  display: none;
}
.chat-open .chat-toggler .chat-toggler-opened {
  display: block;
}
.chat-open .chat-toggler .chat-toggler-closed {
  display: none;
}
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .main-nav {
    margin: 0 40px;
  }
}
@media screen and (max-width: 600px) {
  .main-nav {
    margin: 0 20px;
    line-height: 26px;
    padding-top: 10px;
  }
  .chat-toggler {
    top: 10px;
  }
}
