html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #8a02a9;
}
#container {
  width: 100%;
  height: 100%;
  background-color: #8a02a9;
}
.content {
  padding-top: 80px;
  max-width: 1280px;
  margin: 0 auto;
}
