.post-item {
  margin-bottom: 100px;
  padding-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  border-bottom: 1px solid #fff;
}
.post-item-header {
  margin-bottom: 20px;
}
.post-item-title {
  font-family: 'bebasregular';
  font-size: 22px;
}
.post-item-date {
  font-size: 13px;
}
