.shop {
  *zoom: 1;
  margin: 0 -10px;
}
.shop:before,
.shop:after {
  content: "";
  display: table;
}
.shop:after {
  clear: both;
}
.product-item {
  float: left;
  width: 25%;
  position: relative;
}
.product-item-figure {
  position: relative;
  height: 0;
  margin: 0 10px;
  padding-bottom: 100%;
}
.product-item-figure img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.product-item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: 10;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}
.product-item-link:hover + .product-item-content {
  opacity: 1;
}
.product-item-content {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 10px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'bebasregular';
  letter-spacing: 1px;
  color: #000;
}
.touchevents .product-item-content {
  opacity: 1;
}
.product-detail {
  *zoom: 1;
}
.product-detail:before,
.product-detail:after {
  content: "";
  display: table;
}
.product-detail:after {
  clear: both;
}
.product-detail-title {
  font-family: 'bebasregular';
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.product-detail-figure {
  float: left;
  width: 33.33333333%;
}
.product-detail-content {
  width: 66.66666667%;
  float: left;
}
.product-detail-price {
  font-family: 'bebasregular';
  font-size: 22px;
  padding-bottom: 20px;
  margin: 0 0 20px 20px;
  border-bottom: 1px solid #fff;
}
.product-detail-text {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  white-space: pre;
}
.product-detail-buy {
  color: #fff;
  font-family: 'bebasregular';
  text-decoration: none;
  font-size: 32px;
  display: inline-block;
  margin: 1px 0 20px 20px;
  border-bottom: 1px solid transparent;
}
.no-touchevents .product-detail-buy:hover {
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .product-item {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .product-item {
    width: 100%;
  }
}
