.team {
  *zoom: 1;
  margin: 0 -10px 150px;
}
.team:before,
.team:after {
  content: "";
  display: table;
}
.team:after {
  clear: both;
}
.team-member {
  float: left;
  width: 25%;
}
.team-member-inner {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  margin: 0 10px;
}
.team-member-figure {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  overflow: hidden;
}
.team-member-figure-mask {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aa19a5;
  display: none;
  opacity: 0.7;
}
.team-member-inner:hover .team-member-figure-mask {
  display: block;
}
.soundcloud-hover .team-member-figure-mask {
  background-color: #ff3a00;
}
.team-member-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200%;
}
.team-member-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'bebasregular';
  font-size: 14px;
  letter-spacing: 2px;
}
.team-member-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  display: block;
}
.team-member-link:before {
  font-family: "icons";
  content: "s";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 22px;
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%);
}
.team-member-link:hover:before {
  display: block;
}
.team-member-link.half {
  right: 50%;
}
.touchevents .team-member-link {
  display: none;
}
.team-member-insta-link {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}
.team-member-insta-link.full {
  left: 0;
}
.team-member-insta-link:before {
  font-family: "icons";
  content: "i";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 22px;
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%);
}
.team-member-insta-link:hover:before {
  display: block;
}
.about {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  line-height: 1.8em;
  white-space: pre-line;
}
.team-member {
  text-align: center;
}
.mobile-member-link {
  display: block;
  margin-top: 7px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}
.no-touchevents .mobile-member-link:hover,
.mobile-member-link.active {
  color: #ffef00;
}
.mobile-member-link:before {
  display: inline-block;
  padding-right: 10px;
}
.no-touchevents .mobile-member-link {
  display: none;
}
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .team-member {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 600px) {
  .team-member {
    width: 100%;
  }
}
