.tumblr-post {
  padding: 0 10px 100px 10px;
  margin-bottom: 100px;
  position: relative;
}
.tumblr-post:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: white;
  margin-left: -10px;
  transform: rotate(-45deg);
}
.tumblr-post-header {
  margin-bottom: 20px;
}
.tumblr-images {
  position: relative;
  height: 0;
  padding-bottom: 65%;
  margin-bottom: 20px;
}
.tumblr-images-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tumblr-images-slide img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tumblr-slider-link {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 200;
  width: 50%;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  display: block;
  opacity: 0;
  transition: opacity 0.3s;
}
.tumblr-slider-link:hover {
  opacity: 1;
}
.touchevents .tumblr-slider-link {
  opacity: 1;
}
.tumblr-slider-link:before {
  color: #fff;
  font-size: 42px;
  position: absolute;
  top: 50%;
  margin-top: -21px;
}
.tumblr-slider-link.next {
  right: 0;
}
.tumblr-slider-link.next:before {
  right: 20px;
}
.tumblr-slider-link.previous {
  left: 0;
}
.tumblr-slider-link.previous:before {
  left: 20px;
}
.tumblr-post-date {
  font-size: 13px;
  margin: 5px 0;
}
