@import "@variables.less";

.home-content {
    .clearfix();
    margin: 0 -(@width-gutter/2);
}

.home-section {
    float: left;
    width: 50%;
}

.home-section-title {
    padding: 0 (@width-gutter/2);
    font-family: @title-font;
}