.icon:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    display: inline;
    text-align: center;
}

.icon-facebook:before { content: 'f'; } 
.icon-soundcloud:before { content: 's'; } 
.icon-insta:before { content: 'i'; }