@import "@variables.less";

.main-nav-outer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: @header-height;
    z-index: 9999;
}

.main-nav {
    max-width: @website-maxwidth;
    margin: 0 auto;
    line-height: @header-height;
    padding-right: 50px;
}

.main-nav-link {
    color: @font-color;
    font-family: @title-font;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    margin: 0 @width-gutter;
    .rollover();
}

.chat-toggler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    .chat-toggler-opened {
        display: none;
    }

    .chat-open & {
        .chat-toggler-opened {
            display: block;
        }

        .chat-toggler-closed {
            display: none;
        }
    }
}

//Tablet + Laptop
@media screen and (min-width: (@mobile-width + 1)) and (max-width: @website-maxwidth) {
     .main-nav {
         margin: 0 @website-gutter;
     }
}

//Mobile
@media screen and (max-width: @mobile-width) {
    .main-nav {
        margin: 0 @width-gutter;
        line-height: 26px;
        padding-top: 10px;
    }

    .chat-toggler {
        top: 10px;
    }

    .main-nav-link {
        font-size: 18px;
    }
}