@import "@variables.less";

.post-item {
    margin-bottom: @width-gutter * 2;
    margin-left: @width-gutter/2;
    margin-right: @width-gutter/2;
}

.post-item-header {
    margin-bottom: @width-gutter;
}

.post-item-title {
    font-family: @title-font;
    font-size: @font-size-big;
}

.post-item-date {
    font-size: @font-size-small;
}