@import "@variables.less";

.tumblr-post {
    padding: 0 (@width-gutter/2) (@width-gutter * 5) (@width-gutter/2);
    margin-bottom: @width-gutter * 5;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 20px;
        height: 2px;
        background-color: white;
        margin-left: -10px;
        transform: rotate(-45deg);
    }
}

.tumblr-post-header {
    margin-bottom: @width-gutter;
}

.tumblr-images {
    position: relative;
    height: 0;
    padding-bottom: 65%;
    margin-bottom: @width-gutter;
}

.tumblr-images-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.tumblr-slider-link {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 200;
    width: 50%;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');

    &.next {
        right: 0;
    }

    &.previous {
        left: 0;
    }
}

.tumblr-post-date {
    font-size: 13px;
    margin: 5px 0;
}