@import "@variables.less";

.tumblr-post {
    padding: 0 (@width-gutter/2);
    margin-bottom: @width-gutter * 2;
}

.tumblr-post-header {
    font-family: @title-font;
    margin-bottom: @width-gutter;
}

.tumblr-images {
    
    img {
        margin-bottom: @width-gutter;
    }
}